//Tipografica
$fuente_principal: 'Poppins', sans-serif;
// colores
$negro: #000000;
$blanco: #ffffff;
// Colores principales
$rojo: hsl(0, 100%, 74%);
$verde: hsl(154, 59%, 51%);
$verde-bg: hsl(154, 61%, 43%);
$verde-hover: hsla(154, 73%, 65%, 0.722);
$azul: hsl(248, 32%, 49%);
$azul-o: hsl(249, 10%, 26%);
$azul-g: hsl(246, 25%, 77%);

$movil: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
